doctype html
//
  ReaclChat version 2.0 - accountUpdate.jade
  Sungjun Hong and Yuseon Kang
  Start: 2018-07-18
  Finish: 2018-07-29
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-with, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')

    link(href='/css/main.css', rel='stylesheet')

    script.
      function ValidForm()
      {
      if(ValidPassword() == true && ValidPasswordAgain() == true && ValidName() == true && ValidEmail() == true){
      return true;
      }
      else{
      return false;
      }
      }
      function ValidPassword()
      {
      var password = update.pwd.value;
      if(password == "" || password == null)
      {
      document.querySelector(".ErrorPassword").innerHTML = "empty";
      return false;
      }
      else if(!password[0].match(/[a-zA-Z]/))
      {
      document.querySelector(".ErrorPassword").innerHTML = "start character";
      return false;
      }
      else if(password.length <= 7)
      {
      document.querySelector(".ErrorPassword").innerHTML = "at least 8";
      return false;
      }
      else if(!password.match('.*[A-Z]'))
      {
      document.querySelector(".ErrorPassword").innerHTML = "put Uppercase";
      return false;
      }
      else
      {
      document.querySelector(".ErrorPassword").innerHTML = "Complete";
      return true;
      }
      }
      function ValidPasswordAgain()
      {
      var password1 = update.pwd.value;
      var password2 = update.confirmpwd.value;
      if(password1 == "" || password2 == "")
      {
      document.querySelector(".ErrorPasswordAgain").innerHTML = "empty";
      return false;
      }
      else if(password1 != password2)
      {
      document.querySelector('.ErrorPasswordAgain').innerHTML = "Not Match";
      return false;
      }
      else if(password1 == password2)
      {
      document.querySelector('.ErrorPasswordAgain').innerHTML = "Match";
      return true;
      }
      }
      function ValidName()
      {
      var FName = update.fname.value;
      var LName = update.lname.value;
      if(FName != "")
      {
      if(LName == "")
      {
      document.querySelector('.ErrorName').innerHTML = "Input Last Name";
      return false;
      }
      else if(LName != "")
      {
      document.querySelector('.ErrorName').innerHTML = "Complete";
      return true;
      }
      }
      else if(FName == "")
      {
      document.querySelector('.ErrorName').innerHTML = "Input First Name";
      return false;
      }
      }
      function ValidEmail()
      {
      var Email = update.email.value;
      if(Email.match(/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i))
      {
      document.querySelector('.ErrorEmail').innerHTML = "Complete";
      return true;
      }
      else
      {
      document.querySelector('.ErrorEmail').innerHTML = "Incomplete";
      return false;
      }
      }
    title Update My Account
  body
    .form
      .container.signup-form
        form(action='/myaccountupdatereflect', method='post', name='update', onsubmit='return ValidForm()')
          h2.h2.mb-3.font-weight-normal.text-center
            i.fas.fa-user-plus
            |   Update My Account
          hr
          .form-group
            label(for='inputID') User ID : 
                = ID
          .form-row
            .form-group.col-md-6
              label(for='inputPassword') Password
              input#pwd.form-control.form-control-sm(type='password', name='pwd', onchange='ValidPassword()', required='', autofocus='')
              small.form-text.text-muted.ErrorPassword
            .form-group.col-md-6
              label(for='inputPassword') Confirm Password
              input.form-control.form-control-sm(type='password', name='confirmpwd', onchange='ValidPasswordAgain()', required='')
              small.form-text.text-muted.ErrorPasswordAgain
          .form-row
            .form-group.col-md-6
              label(for='inputFName') First Name
              input#inputFName.form-control.form-control-sm(type='text', name='fname', onchange='ValidName()', required='')
              small.form-text.text-muted.ErrorName
            .form-group.col-md-6
              label(for='inputLName') Last Name
              input#inputLName.form-control.form-control-sm(type='text', name='lname', onchange='ValidName()', required='')
              small.form-text.text-muted.ErrorName
          .form-group
            label(for='inputEmail') Email
            input#email.form-control.form-control-sm(type='email', name='email', onchange='ValidEmail()', required='')
            small.form-text.text-muted.ErrorEmail
          hr
          input.btn.btn-block.btn-dark(type='submit', value='Submit')
          // <button type="submit" class="btn btn-block btn-dark">Submit</button>
        .back-link
          a.back-link(href='/login/success')
            i.fas.fa-home
            |  Back