doctype html
//
  ReaclChat version 2.0 - signupSuccess.jade
  Sungjun Hong and Yuseon Kang
  Start: 2018-07-18
  Finish: 2018-07-29
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-with, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
    link(href='/css/success.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    title Thank you
  body
    section#success-section
      h1
        i.fas.fa-thumbs-up
      h1 Thank you!
      p
        | You have successfully signed up as RealChat user
        br
        | It's time to enjoy the Real-time chat!
    section#link-section
      p
        a(href='/')
          i.fas.fa-home
      p
        a(href='/login')
          i.fas.fa-sign-in-alt
