html{
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
}
body{
    padding: 10px;
}
h1{
    margin-top: 50px;
    color:#273746;
    padding-top: 10px;
}

textarea{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#chat{
    width: 80%; 
    height: 500px;
    border-style: dashed;
    background-color: #EAECEE;
    font-family: Convergence;
    font-size: 15px;
    font-weight: 400;
}

#contentWrap{
    display:none;
}

#nickWrap{
    float:left;
}

#m{
    position:relative;
    width: 62%;
    height: 40px; 
    font-size: 15px;
    background-color: #AAB7B8;
    border: none;
    color: black;
}

.btn{
    width:75px;
}

#nickname{
    height:37px;
}
.chat{
    margin-right: 300px;
    width: 700px;
    float: left;
}
.users{
    padding-top: 10px;
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 600px;
    position: absolute;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    background-color:#5D6D7E;
    color: white;
    border-radius: 15px;
}
.container{
    width: 100%;
    max-height: 900px;
    display: center;
}
.users #users{
    padding-top: 10px;
    color: #EBF5FB;
}