html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-group{
    width: 350px;
    margin-left: 50px;
    position: relative;
}
button {
    margin-left: 50px;
}
.btn{
  width: 100%;
  max-width: 100px;
  margin-top:10px;
}
.ErrorName, .ErrorID, .ErrorPassword, .ErrorPasswordAgain, .ErrorNickname{
  color:red;
  font-weight: bold;
}
