html {
  display: grid;
  min-height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
h2 {
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
i {
  color: black;
  -webkit-animation-name: icon;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: icon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  
}
@-webkit-keyframes icon {
  from {color: black;}
  to {color: red;}
}

/* Standard syntax */
@keyframes icon {
  from {color:black;}
  to {color: red;;}
}
p{
  padding: 10px;
  background-color: #FEE19F;
  border-radius: 15px;
}